node_modules
.env

 git init
  git add README.md
  git commit -m "first commit"
  git branch -M main
  git remote add origin https://github.com/manishaac2002/v3prisma_demo.git
  git push -u origin main